.SchoolClass {
    text-align: center;
}

.list-div-wrapper {
    height: 600px;
    width: 360px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    overflow: scroll;
}

.list-div {
    width: 300px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 10px auto;
}