.student-profile-div {

}

.student-profile-parent-div {
    box-sizing: border-box;
    text-align: center;
    width: 400px;
    margin: 0 auto;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
}

.student-profile-class-div {
    box-sizing: border-box;
    text-align: center;
    width: 400px;
    margin: 0 auto;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
}

.student-profile-assignments-div {
    box-sizing: border-box;
    text-align: center;
    width: 400px;
    margin: 0 auto;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
}
.student-profile-assignment {
    text-align: center;
    width: 300px;
    margin: 0 auto;
    border: 1px solid grey;
    border-radius: 5px;
}

.student-profile-stickers-div {
    box-sizing: border-box;
    text-align: center;
    width: 400px;
    margin: 0 auto;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
}