.Profile {
    text-align: center;
    padding-bottom: 20px;
}

.modal-dark-bg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 9;
}
.email-verified-div {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
    width: 600px;
    margin: 0 auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: white;
}

.select-account-type-div {
    padding: 10px;
    width: 500px;
    max-width: 90vw;
    margin: 0 auto;
    border: 1px solid grey;
    border-radius: 10px;
}
.select-account-type-div-inner {
    display: flex;
    justify-content: center;
    align-items: center;
}
.select-account-type-btn {
    padding: 20px;
    border: 1px solid grey;
    border-radius: 10px;
    margin: 10px;
    width: 100px;
    cursor: pointer;
}
.account-type-submit {
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}
.invite-code-input-div {
    padding-top: 10px;
    padding-bottom: 30px;
    width: 500px;
    margin: 0 auto;
    border: 1px solid grey;
    border-radius: 10px;
}

.children-list-div {
    box-sizing: border-box;
    width: 300px;
    max-width: 90vw;
    margin: 0 auto 10px auto;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
}

.parent-settings-div {
    box-sizing: border-box;
    width: 300px;
    max-width: 90vw;
    margin: 0 auto;
    padding-bottom: 20px;
    border: 1px solid grey;
    border-radius: 5px;
}
.parent-settings-select-btn {
    cursor: pointer;
}
.parent-settings-edit-btn {
    margin-top: 20px;
    padding: 5px;
    cursor: pointer;
}

.parent-settings-edit-mode button {
    cursor: pointer;
}

.school-class-list-div {
    box-sizing: border-box;
    width: 300px;
    max-width: 90vw;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
}