.App {
  text-align: center;
}

h1 {
  text-align: center;
}

.selected {
  background-color: #72CC50;
}

.FlexRowCentered {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.ErrorMsg {
  font-size: 0.9rem;
}